html
  head
    title= title
  body
    h1= message
    form(action='/create' method='post')
     input(type='text' name='title')
     input(type='text' name='description')
     button Add
    
     
     