//- layout.pug
html
  head
    title My Site - #{title}
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css')
    block scripts
      script(src='/jquery.js')
  body
    block navbar
    block content