//- layout.pug
html
  head
    title Nana CodersX
    link(id="favicon", rel="icon", href="https://cdn.glitch.com/1eeeaa03-4c95-4acc-925a-ac933fed2ce6%2FcodersX.png?v=1587615408346")
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css')
    link(rel="stylesheet", href="/style.css")
    block scripts
      script(src='/jquery.js')
  body
  h1 occho
    block cdn-bootstrap
    block navbar
    block content