p Book:
  span &nbsp
  span= book.title
  span= book.description
  form(method='POST', action=`/delete/${book.id}`, enctype='application/x-www-form-urlencoded')
   input(type='hidden', name='_method', value='DELETE')
   button.btn.btn-primary(type='submit') Delete
