extends ../layout.pug

block cdn-bootstrap
    h1= message
    form(action='/user/create' method='post')
     input(type='text' name='name' placeholder="name")
     button Add
    
     
    