doctype html
head
  meta(charset='utf-8')
  title Modal Example
  link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css')
// Button to Open the Modal
p user:
  span &nbsp
  span= user.name
  form(method='POST', action=`/user/delete/${user.id}`, enctype='application/x-www-form-urlencoded')
   input(type='hidden', name='_method', value='DELETE')
   button.btn.btn-primary(type='submit') Delete

  button.btn.btn-primary(type='button', data-toggle='modal', data-target='#myModal') edit 
  #myModal.modal
      .modal-dialog
       form.modal-content(role='form', method='POST', action=`/user/edit/${user.id}`)
        .modal-header
         h4.modal-title Modal Heading
         button.close(type='button', data-dismiss='modal') &times;
    
        .modal-body 
          .form-group
            label Title
            input.form-control(type='text', name='name', placeholder='')

        .modal-footer
         button.btn.btn-secondary(type='button', data-dismiss='modal') Close
         input(type='hidden', name='_method', value='PUT')
         button.btn.btn-primary(type='submit') Update
script(src='https://code.jquery.com/jquery-3.2.1.slim.min.js')
script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js')
script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js')
