
extends ../layout.pug

block cdn-bootstrap

  h2 Transaction
  button.btn.btn-secondary(type='button' ) 
    a(href='/transaction/create') create transaction
  ul.list-group.list-group-flush
    each transaction in transactions
      li.list-group-item.disabled
        span Book title: 
        span= transaction.bookTitle
        br
        span Borrower: 
        span= transaction.userName
        br
        span Status: 
        if(transaction.isComplete==false)
          form.delete(method='POST', action=`/transaction/edit/${transaction.bookId}`, enctype='application/x-www-form-urlencoded')
           input(type='hidden', name='_method', value='PUT')
           button.btn.btn-primary(type='submit') Chưa trả
        else
          a(href=`/transaction/${transaction.id}/finish`) Đã Trả 
  